<!DOCTYPE html>
<html>
  <head>
    <title>Yike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('Kobe-Bryant-Logo.jpg')%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.images = {
        logo: "<%= image_url('Kobe-Bryant-Logo.jpg')%>",
        splash1: "<%= image_url('justyeetit.jpg')%>",
        splash2: "<%= image_url('kobe9elite.jpg')%>",
        splash3: "<%= image_url('kobeelite7.jpg')%>",
        splash4: "<%= image_url('kobezoom2.jpg')%>",
        cover: "<%= image_url('kobejustyeet1.jpg')%>",
        threepic1: "<%= image_url('3pic1.jpg')%>",
        threepic2: "<%= image_url('3pic2.jpg')%>",
        threepic3: "<%= image_url('3pic3.jpg')%>",
        github: "<%= image_url('github.png')%>",
        linkedin: "<%= image_url('linkedin.jpg')%>",
        slide1: "<%= image_url('mambayellowmine.png')%>",
        slide2: "<%= image_url('kobead.jpg')%>",
        favicon: "<%= image_url('favicon.ico')%>"

      }
    </script>
    <script src="https://kit.fontawesome.com/c79d7c6c30.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
